.teaser {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  display: inline-block;
  flex: 1 1 250px;
  padding: 1.5rem 1rem 0.5rem;
  position: relative;
}

.image {
  display: block;
  margin: 0 auto;
}

.info {
  padding-top: 1rem;
}

.name {
  margin: 0;
  text-align: center;
}

.remove {
  padding: 0.5rem 0.75rem;
  position: absolute;
  right: 0;
  top: 0;
}

.wrap {
  position: relative;
}

.optional {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.more .optional {
  opacity: 1;
}

.show {
  left: 50%;
  position: absolute;
  top: 50%;
  transition: opacity 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}

.more .show {
  opacity: 0;
  pointer-events: none;
}
